{% if item._title is not null -%}
    <h2>{{ item._title|raw_secure }}</h2>
{%- endif %}
{% if item._description is not null -%}
    <p class="description">{{ item._description|raw_secure }}</p>
{%- endif %}

{%- include 'LyssalStructureBundle:Simplepie:item/enclosures.html.twig' -%}

{% if item._author is not null -%}
    <p class="author">{{ item._author }}</p>
{%- endif %}
{% if item._date is not null -%}
    <p class="updated">{{ item._date|date('d/m/Y') }}</p>
{%- endif %}
{% if item._link is not null -%}
    <p class="link"><a href="{{ item._link }}">{{ item._title }}</a></p>
{%- endif %}
